<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue 2 Tutorial</title>
  <link href="styles.css" rel="stylesheet"/>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
</head>
<body>
  <div id="vue-app-one">
    <h1>{{ title }}</h1>
    <h2>{{ greetComputed }}</h2>
    <h1>{{ greet('afternoon') }}</h1>
    <h1>Name: {{ name }}</h1>
    <h1>Job: {{ job }}</h1>
    <h1>-</h1>
    <a :href="website" target="_blank">Google</a>
    <input type="text" :value="name"/>
    <div v-html="websiteTag"></div>
    <h1>-</h1>
    <div>
      <h2>Events</h2>
      <button @click="add(1)">Add a Year</button>
      <button v-on:click="subtract(1)">Subtract a Year</button>
      <button @dblclick="add(10)">Double Click - Add 10 Years</button>
      <button v-on:dblclick="subtract(10)">Double Click - Subtract 10 Years</button>
      <p>My age is {{ age }}</p>
      <div id="canvas" v-on:mousemove="updateXY">{{ x }}, {{ y }}</div>
    </div>
    <div>
      <h2>Keyboard Events</h2>
      <label>Name:</label>
      <input type="text" v-model="keyboardName"/>
      <span>{{ keyboardName }}</span>
      <label>Age:</label>
      <input type="text" v-model="keyboardAge"/>
      <span>{{ keyboardAge }}</span>
    </div>
    <div>
      <h2>Computed Properties</h2>
      <button v-on:click="computedA++">Add to A</button>
      <button v-on:click="computedB++">Add to B</button>
      <p>A = {{ computedA }}</p>
      <p>B = {{ computedB }}</p>
      <p>Age + A = {{ addToA }}</p>
      <p>Age + B = {{ addToB }}</p>
    </div>
    <div class="dynamic-css">
      <h2>Dynamic CSS</h2>
      <h3>Example 1</h3>
      <div v-on:click="classAvailable = !classAvailable" v-bind:class="{available: classAvailable}">
        <span>Ryu</span>
      </div>
      <h3>Example 2</h3>
      <button v-on:click="nearby = !nearby">Toggle nearby</button>
      <button v-on:click="classAvailable = !classAvailable">Toggle classAvailable</button>
      <div v-bind:class="compClasses">
        <span>Ryu</span>
      </div>
    </div>
    <div>
      <h2>Conditionals</h2>
      <button v-on:click="conditionalError = !conditionalError">Toggle Error</button>
      <button v-on:click="conditionalSuccess = !conditionalSuccess">Toggle Success</button>
      <p v-if="conditionalError">There has been an error</p>
      <p v-else-if="conditionalSuccess">There has been a success</p>
      <p v-show="conditionalError">There has been an error</p>
      <p v-show="conditionalSuccess">There has been a success</p>
    </div>
    <div>
      <h2>Looping with v-for</h2>
      <ul>
        <li v-for="loopCharacter in loopCharacters">
          {{ loopCharacter }}
        </li>
      </ul>
      <ul>
        <li v-for="(loopNinja, index) in loopNinjas">
          Index: {{ index }} - Name: {{ loopNinja.name }} - Age: {{ loopNinja.age }}
        </li>
      </ul>
      <template v-for="(loopNinja, index) in loopNinjas">
        <h3>{{ index }}. {{ loopNinja.name }}</h3>
        <p>{{ loopNinja.age }}</p>
      </template>
      <template v-for="(loopNinja, index) in loopNinjas">
        <div v-for="(value, key) in loopNinja">
          <p>{{ key }} - {{ value }}</p>
        </div>
      </template>
    </div>
    <greeting></greeting>
  </div>
  <div id="vue-app-two">
    <h1>{{ title }}</h1>
    <h2>{{ greet }}</h2>
    <button v-on:click="changeTitle">Change App One Title</button>
    <greeting></greeting>
    <div>
      <h2>Refs</h2>
      <input type="text" ref="input"/>
      <button v-on:click="readRefs">Submit</button>
      <p>Your fav food: {{ output }}</p>
    </div>
  </div>
  <script src="app.js"></script>
</body>
</html>