<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue 2 Tutorial</title>
  <link href="styles.css" rel="stylesheet"/>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
</head>
<body>
  <div id="vue-app">
    <h1>{{ greet('afternoon') }}</h1>
    <h1>Name: {{ name }}</h1>
    <h1>Job: {{ job }}</h1>
    <h1>-</h1>
    <a :href="website" target="_blank">Google</a>
    <input type="text" :value="name"/>
    <div v-html="websiteTag"></div>
    <h1>-</h1>
    <div>
      <h2>Events</h2>
      <button @click="add(1)">Add a Year</button>
      <button v-on:click="subtract(1)">Subtract a Year</button>
      <button @dblclick="add(10)">Double Click - Add 10 Years</button>
      <button v-on:dblclick="subtract(10)">Double Click - Subtract 10 Years</button>
      <p>My age is {{ age }}</p>
      <div id="canvas" v-on:mousemove="updateXY">{{ x }}, {{ y }}</div>
    </div>
    <div>
      <h2>Keyboard Events</h2>
      <label>Name:</label>
      <input type="text" v-model="keyboardName"/>
      <span>{{ keyboardName }}</span>
      <label>Age:</label>
      <input type="text" v-model="keyboardAge"/>
      <span>{{ keyboardAge }}</span>
    </div>
    <div>
      <h2>Computed Properties</h2>
      <button v-on:click="computedA++">Add to A</button>
      <button v-on:click="computedB++">Add to B</button>
      <p>A = {{ computedA }}</p>
      <p>B = {{ computedB }}</p>
      <p>Age + A = {{ addToA }}</p>
      <p>Age + B = {{ addToB }}</p>
    </div>
    <div class="dynamic-css">
      <h2>Dynamic CSS</h2>
      <h3>Example 1</h3>
      <div v-on:click="classAvailable = !classAvailable" v-bind:class="{available: classAvailable}">
        <span>Ryu</span>
      </div>
      <h3>Example 2</h3>
      <button v-on:click="nearby = !nearby">Toggle nearby</button>
      <button v-on:click="classAvailable = !classAvailable">Toggle classAvailable</button>
      <div v-bind:class="compClasses">
        <span>Ryu</span>
      </div>
    </div>
  </div>
  <script src="app.js"></script>
</body>
</html>